<!DOCTYPE html>
<html lang="en">
<head>
<!-- 全站通用区块 header S -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WFCTWWQ');</script>
<!-- End Google Tag Manager -->
<!--SensorsDataAnalytic start-->
<script charset="UTF-8" src="https://oss.imsilkroad.com/js/sensorsdata/sensorsdata.min.js"></script>
<script>
var sensors = window['sensorsDataAnalytic201505'];
sensors.init({
        server_url: 'https://analysis.imsilkroad.com/sa?project=xinhuacaijing_production',
          is_track_single_page:true, 
          use_client_time:true,
          send_type:'beacon',
          show_log:false,
          heatmap: {
            scroll_notice_map: 'not_collect'
        },
    });
sensors.quick('autoTrack', {
        platform: 'cnfin'
    }); 
</script>
<!--SensorsDataAnalytic end-->
<!--51.LA start-->
<!--
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3FAgSoS728ynd8bt",ck:"3FAgSoS728ynd8bt"})</script>
-->
<!--51.LA end--> 
<!-- 全站通用区块 header E -->
<title>数据-中国金融信息网</title>
<meta name="description" content="中国金融信息网数据频道提供全面，细致的全球财经日历、最新的全球宏观数据和世界经济事件，帮助用户及时了解全球经济动态。" />
<meta name="keywords" content="宏观数据,经济指标,财经日历,宏观数据分析,GDP,CPI,PPI,央行,财政部,中国金融信息网,新华财经,新华社" />
<meta name="publishedtype" content="1">
<meta name="pagetype" content="2">
<meta name="catalogs" content="C_4945">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="uctk" content="enabled">
<meta name="channelnav" content="sj">
  <link href="//www.cnfin.com/static/css/component.css?r=1663291466308" type="text/css" rel="stylesheet" />
  <script src="//www.cnfin.com/static/js/jquery-1.9.1.min.js?r=1663291466308" type="text/javascript"></script>
  <!--公共js-->
  <script type="text/javascript" src="//www.cnfin.com/static/js/jquery.nav.js"></script>
<script type="text/javascript" src="//www.cnfin.com/static/js/ad.min.js"></script>
<!--<script type="text/javascript" src="//www.cnfin.com/static/js/user.js"></script>-->
<!-- jQuery Modal -->
<link rel="stylesheet" href="//www.cnfin.com/static/css/jquery-modal/jquery.modal.min.css" />
<link rel="stylesheet" href="//www.cnfin.com/static/css/jquery-toast/jquery.toast.min.css" />
<!-- jQuery Modal -->
<script src="//www.cnfin.com/static/js/jquery-modal/jquery.modal.min.js"></script>
<script src="//www.cnfin.com/static/js/jquery-toast/jquery.toast.min.js"></script>
<script type="text/javascript" src="//www.cnfin.com/static/js/common_fixed.js"></script>
<style>
.xhcj_content .xhcj_summary{height: auto !important;}
.blocker{z-index:100;}
</style> 
  <!--公共js-->
  <link rel="stylesheet" href="//www.cnfin.com/static/css/shuju/hongguanzhongguo.css?r=1663291466308">
  <title>数据-中国金融信息网</title>
  <script src="//www.cnfin.com/static/js/vue.min.js?r=1663291466308"></script>
  <script src="//www.cnfin.com/static/js/laydate/laydate.js?r=1663291466308" type="text/javascript"></script>
  <script src="//www.cnfin.com/static/js/qrcode.min.js?r=1663291466308" type="text/javascript"></script>
<meta name="description" content="中国金融信息网数据频道提供全面，细致的全球财经日历、最新的全球宏观数据和世界经济事件，帮助用户及时了解全球经济动态。" />
<meta name="keywords" content="宏观数据,经济指标,财经日历,宏观数据分析,GDP,CPI,PPI,央行,财政部,中国金融信息网,新华财经,新华社" />
</head>
<body>
 <!--HEAD-->
  <!-- 全站通用区块 statistics S -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFCTWWQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 
<!-- 全站通用区块 statistics E -->
<script>
	// aip调用接口域名
	var cnfinApiHost = '//api.cnfin.com/';
	// 网站域名管理
	var cnfinHost = '//www.cnfin.com/';
</script>
<style>
.m-head-place {
  display: none;
}
.headFixedPar .m-head-place {
  height: 60px;
  display: block;
}
.ui-head-nav a {margin-right:16px; margin-left:10px;}
</style>
<div class="m-head-place">
</div>
<div class="m-head">
	<div class="m-head-wrap">
		<div class="ui-head">
<!--
			<div class="ui-head-unit"><a href="//www.ceis.cn" target="_blank" style="color:#fff;">中国经济信息社</a>主办</div>
-->
			<div class="ui-head-logo">
				<a href="//www.cnfin.com/"><img class="ui-cnfin-logo" src="//www.cnfin.com/static/image/ad/head_logo.png"></a>
			</div>
			<div class="ui-head-nav">
				<a href="//www.cnfin.com/" data-channelnav="index" class="sensorsNav" data-senorscnl="1" data-senorsname="首页">首页</a>
				<a href="javascript:;" class="js-zx-hover" data-channel="zx" data-channelnav="zx">资讯</a>
				<a href="//www.cnfin.com/report/index.html" class="sensorsNav" data-senorscnl="1" data-senorsname="研报" data-channel="yb" data-channelnav="yb">研报</a>
				<a href="javascript:;" class="js-zx-hover" data-channel="sj" data-channelnav="sj">数据</a>
				<a href="javascript:;" class="js-zx-hover" data-channel="hq" data-channelnav="hq">行情</a>
				<a href="javascript:;" class="js-zx-hover" data-channel="fxgj" data-channelnav="fxgj">工具</a>
				<a href="//live.cnfin.com" class="js-zx-hover sensorsNav" data-senorscnl="1" data-senorsname="直播" data-channel="zb" data-channelnav="zb">直播</a>
				<!--a href="//www.cnfin.com/quicklook/index.html" class="js-zx-hover sensorsNav" data-channel="kk" data-channelnav="kk">快看</a-->
				<a href="//www.cnfin.com/store/index.html" class="js-zx-hover sensorsNav" data-senorscnl="1" data-senorsname="金融超市" data-channel="jrcs" data-channelnav="jrcs">金融超市</a>
				<a href="//edu.cnfin.com/" class="js-zx-hover sensorsNav" data-senorscnl="1" data-senorsname="投教" data-channel="tj" data-channelnav="tj" target="_blank">投教</a>
				<a href="javascript:;" class="js-zx-hover" data-channel="cpfw" data-channelnav="cpfw">产品与服务</a>
				<!--<a href="//www.cnfin.com/jucai/index.html" class="js-zx-hover" data-channel="jc" data-channelnav="jc" target="_blank">聚财</a-->
			</div>

			<div class="ui-head-search"><div class="ui-search-btns js-search-btns"></div>
				<input class="ui-search-btn js-search" id="js-search" type="text" placeholder="关键词，标题，股票代码、名称">
			</div>

<!--
			<div class="ui-head-login" id="login-box">
				<div class="ui-login-btn" id="login-btn"><a href="javascript:;">登录</a></div>
			</div>
			<div class="ui-head-user" id="user-box">
				<div class="ui-user-img" id="user-logo">
				</div>
				<div class="ui-user-options" id="user-options">
					<div class="ui-options-point"></div>
					<ul class="ui-options-box">
						<li class="ui-box-item"><a href="//uc.cnfin.com/pub/mymessage.html">个人中心</a></li>
						<li class="ui-box-item" id="logout-btn"><a href="javascript:void(0);">退出账号</a></li>
					</ul>
				</div>
			</div>
-->
		</div>
	</div>
	<!--资讯-->
	<div class="m-head-tagcls js-head-zx">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">
				<div class="ui-tagcls-item">
					<h3>主题</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a href="//www.cnfin.com/news/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="要闻" target="_blank">要闻</a></li>
						<li><a href="//www.cnfin.com/flash/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="快讯" target="_blank">快讯</a></li>
						<!--<li><a href="//www.cnfin.com/policy/index.html" class="sensorsNav" target="_blank">政策</a></li>-->
						<!--<li><a href="//www.cnfin.com/company/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="企业" target="_blank">企业</a></li>-->
						<li><a href="//www.cnfin.com/macro/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="宏观" target="_blank">宏观</a></li>
						<li><a href="//www.cnfin.com/stock/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="股市" target="_blank">股市</a></li>
						<li><a href="//www.cnfin.com/bond/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="债市" target="_blank">债市</a></li>
						<li><a href="//www.cnfin.com/forex/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="汇市" target="_blank">汇市</a></li>
						<li><a href="//www.cnfin.com/currency/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="货币" target="_blank">货币</a></li>
						<li><a href="//www.cnfin.com/commodity/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="大宗" target="_blank">大宗</a></li>
						<!--<li><a href="//www.cnfin.com/innovation/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="科创" target="_blank">科创</a></li>-->
						<li><a href="//www.cnfin.com/local/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="区域" target="_blank">区域</a></li>
						<li><a href="//www.cnfin.com/bank/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="同业" target="_blank">同业</a></li>
						<li><a href="//www.cnfin.com/industry/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="产业" target="_blank">产业</a></li>
						<!--<li><a href="//www.cnfin.com/video/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="视频" target="_blank">视频</a></li>-->
						<!--<li><a href="//www.cnfin.com/life/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="财趣" target="_blank">财趣</a></li>-->
						<!--<li><a href="//www.cnfin.com/jucai/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="聚财" target="_blank">聚财</a></li>-->
					</ul>
				</div>
				<div class="ui-tagcls-item">
					<h3>热点</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a href="//www.cnfin.com/jrjfb/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="金融街发布" target="_blank">金融街发布</a></li>
						<li><a href="//www.cnfin.com/jbzfb/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="江北嘴发布" target="_blank">江北嘴发布</a></li>
						<!--<li><a href="//www.cnfin.com/qkl/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="区块链" target="_blank">区块链</a></li>-->
						<li><a href="//www.cnfin.com/insight/index.html" class="sensorsNav" data-senorscnl="2" data-senorsname="今日观察" target="_blank">今日观察</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--资讯-->
	<!--行情-->
	<div class="m-head-tagcls js-head-hq">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">
				<div class="ui-tagcls-item"><a href="//www.cnfin.com/quote/index.html" target="_blank"  class="sensorsNav" data-senorscnl="2" data-senorsname="行情首页">
						<h3>首页</h3>
					</a></div>
				<div class="ui-tagcls-item"><a
						href="//www.cnfin.com/quote/stock/index.html?code=SS.ESA.M,SZ.ESA.M,SZ.ESA.SMSE,SZ.ESA.GEM,SS.KSH,SZ.ESA.SMSE&t=1&idx=0&curmb=%E8%82%A1%E7%A5%A8,%E6%B2%AA%E6%B7%B1A%E8%82%A1&announ=lc&leftnav=0"
						target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="行情股票">
						<h3>股票</h3>
					</a></div>
				<div class="ui-tagcls-item"><a
						href="//www.cnfin.com/quote/bond/index.html?code=SS.D,SZ.D&name=沪深债券&status=zq&curmb=债券,沪深债券&announ=bond&leftnav=1"
						target="_blank" class="sensorsNav" class="sensorsNav" data-senorscnl="2" data-senorsname="行情债券">
						<h3>债券</h3>
					</a></div>
				<div class="ui-tagcls-item"><a href="//www.cnfin.com/quote/exchange/index.html?t=1&curmb=外汇,人民币即期成交价&leftnav=2"
						target="_blank" class="sensorsNav" class="sensorsNav" data-senorscnl="2" data-senorsname="行情外汇">
						<h3>外汇</h3>
					</a></div>
				<div class="ui-tagcls-item"><a
						href="//www.cnfin.com/quote/fund/index.html?code=SS.EU,SS.EM.SF,SS.EM.LOF,SS.EM.ETF,SZ.EM.SF,SZ.EM.LOF,SZ.EM.ETF,SZ.EM.CEF&curmb=基金,沪深基金&announ=mf&leftnav=3"
						target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="行情基金">
						<h3>基金</h3>
					</a></div>
				<div class="ui-tagcls-item"><a
						href="//www.cnfin.com/quote/futures/index.html?code=XSGE.FC.WIRE&t=0&idx=2&curmb=期货,上海期货交易所,线材&leftnav=4"
						target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="期货">
						<h3>期货</h3>
					</a></div>
				<div class="ui-tagcls-item"><a
						href="//www.cnfin.com/quote/index/index.html?code=SS.MRI&tick=2&portIdx=1&curmb=指数,上证指数&announ=index&leftnav=5"
						target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="指数">
						<h3>指数</h3>
					</a></div>
			</div>
		</div>
	</div>
	<!--行情-->
	<!--研报-->
	<div class="m-head-tagcls js-head-yb">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">

			</div>
		</div>
	</div>
	<!--研报-->
	<!--数据-->
	<div class="m-head-tagcls js-head-sj">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">
				<div class="ui-tagcls-item"><a class="sensorsNav" data-senorscnl="2" data-senorsname="财经日历" href="//www.cnfin.com/data/economic-calendar/index.html" target="_blank">财经日历</a>
				</div>
				<div class="ui-tagcls-item"><a class="sensorsNav" data-senorscnl="2" data-senorsname="宏观数据" href="//www.cnfin.com/data/macro-data/index.html" target="_blank">宏观数据</a></div>
			</div>
		</div>
	</div>
	<!--数据-->
	<!--分析工具-->
	<div class="m-head-tagcls js-head-fxgj">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">
				<div class="ui-tagcls-item"><a href="https://ybjb-pc.cnfic.com.cn" target="_blank" class="sensorsNav">
						<h3>研报金榜</h3>
					</a></div>
<!--
				<div class="ui-tagcls-item"><a href="https://datamobile.cnfin.com/view/report.do?reportId=6de619a98eeb4850be27df9457f41818" target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="可视化财报">
						<h3>可视化财报</h3>
					</a></div>
-->
				<div class="ui-tagcls-item"><a href="//www.credit100.com/creditPoints/CreditCompliance" target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="合规评测">
						<h3>合规评测</h3>
					</a></div>
				<div class="ui-tagcls-item"><a href="//www.imsilkroad.com/db/#/home" target="_blank" class="sensorsNav" data-senorscnl="2" data-senorsname="丝路数据库">
						<h3>丝路数据库</h3>
					</a></div>
			</div>
		</div>
	</div>
	<!--分析工具-->
	<!--产品与服务-->
	<div class="m-head-tagcls js-head-cpfw">
		<div class="ui-tagcls">
			<div class="ui-tagcls-wrap">
				<div class="ui-tagcls-item">
					<h3>新华财经</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a class="sensorsNav" target="_blank" data-senorscnl="2" data-senorsname="点金学堂" href="https://bm.cnfic.com.cn/sharing/share/djxtIndex" >点金学堂</a></li>
                        <li><a class="sensorsNav" target="_blank" data-senorscnl="2" data-senorsname="ESG" href="https://client.cnfic.com.cn/web/cnfic/load.html?terminal_no=2&theme=light&userid=&username=&userno=9000000000000000001&app_t=54dd744a-8a08-4baf-b1df-4008f4517b1d:e3ebef6f-2612-46e0-baf7-faabb76e2337&to=https://client.cnfic.com.cn/web/cnfic/webFront/esg/#/index" >ESG</a></li>
						<li><a class="sensorsNav" target="_blank" data-senorscnl="2" data-senorsname="投教基地" href="https://edu.cnfin.com/" >投教基地</a></li>
						<li><a class="sensorsNav" target="_blank" data-senorscnl="2" data-senorsname="路演中心" href="https://roadshow.cnfin.com/" >路演中心</a></li>
						<li><a class="sensorsNav" target="_blank" data-senorscnl="2" data-senorsname="外汇信息服务" href="https://pts.cnfic.com.cn/web/app/zh_CN/views/index/index.html" >外汇信息服务</a></li>
					</ul>
				</div>
				<div class="ui-tagcls-item">
					<h3>新华丝路</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="丝路资讯/智讯/案例/全球数据/知识产权" href="//www.imsilkroad.com/db/#/home" target="_blank">丝路资讯/智讯/案例/全球数据/知识产权</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="大讲堂" href="//www.imsilkroad.com/news/category/yidaiyiludajiangtang" target="_blank">大讲堂</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="多语言" href="//en.imsilkroad.com/" target="_blank">多语言</a></li>
					</ul>
				</div>
				<div class="ui-tagcls-item">
					<h3>新华信用</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="企业信用" href="//www.credit100.com/creditPoints" target="_blank">企业信用</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="信用发布" href="//www.credit100.com/creditReleaseIndex" target="_blank">信用发布</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="信用领跑" href="//www.credit100.com/creditLead" target="_blank">信用领跑</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="城市信用" href="//www.credit100.com/cityService/cityCreditNav" target="_blank">城市信用</a></li>
					</ul>
				</div>
				<div class="ui-tagcls-item">
					<h3>新华指数</h3>
					<ul class="ui-tagcls-item-tag">
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="指数发布" href="//indices.cnfin.com/cpfw/zsfb/index.html" target="_blank">指数发布</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="指数授权" href="//indices.cnfin.com/cpfw/zssq/index.html" target="_blank">指数授权</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="报告编制" href="//indices.cnfin.com/cpfw/bgbz/index.html" target="_blank">报告编制</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="智库咨询" href="//indices.cnfin.com/cpfw/zkzx/index.html" target="_blank">智库咨询</a></li>
						<li><a class="sensorsNav" data-senorscnl="2" data-senorsname="定制化服务" href="//indices.cnfin.com/cpfw/dzhfw/index.html" target="_blank">定制化服务</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--产品与服务-->
</div>
<script>
	$('.ui-head-nav a').hover(function () {
		$('.m-head-tagcls').hide();
		switch ($(this).data('channel')) {
			case 'zx':
				$('.js-head-zx').show();
				break;
			case 'fxgj':
				$('.js-head-fxgj').show();
				break;
			case 'sj':
				$('.js-head-sj').show();
				break;
			case 'hq':
				$('.js-head-hq').show();
				break;
			case 'cpfw':
				$('.js-head-cpfw').show();
		}
	})
	function getTagList(id, type) {
		$.ajax({
			type: "GET",
			url: cnfinApiHost + "roll/query/tagList",
			data: {
				id: id
			},
			dataType: "jsonp",
			jsonp: "jsonpcallback",
			success: function (data) {
				if (data.status == 1) {
					var arr = data.data.children;
					var listUrl = "";

					if (type == "zx") {
						listUrl = '//www.cnfin.com/list/index.html'
					} else if (type == "yb") {
						listUrl = '//www.cnfin.com/yblist/index.html'
					}
					var html = '';
					for (var i = 0; i < arr.length; i += 1) {
						html += '<div class="ui-tagcls-item"><h3>' + arr[i].name + '</h3><ul class="ui-tagcls-item-tag">'
						for (var q = 0; q < arr[i].tags.length; q += 1) {
							html += '<li><a href="' + listUrl + '?tagid=' + arr[i].tags[q].id + '&tagname=' + encodeURIComponent(arr[i].tags[q].type) + '" target="_blank">' + arr[i].tags[q].type + '</a></li>'
						};
						html += '</ul></div>'
					};

					switch (type) {
						case 'yb':
							$('.js-head-yb .ui-tagcls-wrap').html(html);
							break;
						case 'zx':
							$('.js-head-zx .ui-tagcls-wrap').html(html);
							break;
					}

					$('.m-head-tagcls').mouseleave(function () {
						$(this).hide();
						$('.js-zx-hover').removeClass('on');
					});
				} else {
					alert(data.msg);
				};
			},
		});
	}
	getTagList('12', 'yb'); // 研报
	var channelNav = $("meta[name=channelnav]").attr("content");
	var $nav = $('.ui-head-nav a');
	var uChannelId = $("meta[name=catalogs]").attr("content");
	for (var q = 0; q < $nav.length; q += 1) {
		if (channelNav == $nav.eq(q).data('channelnav')) {
			if(uChannelId == 'C_3317367'){
			$nav.eq(2).addClass('nav_cur')
			}else {
			$nav.eq(q).addClass('nav_cur')
			}
		}
	}

	//头部fixed
	$('body').commonFixed({
		eleScrollLeft: false,
		ele: '.m-head', //需要fixed的元素的id或者class，默认为#commonFixedDiv
		eleTopNum: 0, //fixid的top值，默认为0
		eleAddClass: 'headFixed', //需要增加的类名，默认为commonNavFixed
		eleAddClassPar: 'headFixedPar', //父元素需要增加的类名,默认为commonNavFixedPar
		elesOffsetTop: 0 //隐藏条件 该属性只针对ele隐藏的情况，其他情况调用时不用加
	});
</script> 
  <!--HEAD-->
  <div class="wrap-macroscopic clearfix">
    <div class="macroscopic-crumbs clearfix">
<div class="ui-crumb-path">
          <a href="//www.cnfin.com/">首页</a><em>＞</em>数据中心<em>＞</em><span>宏观数据</span>
        </div>
    </div>
    <div id="hongguanzhongguo" v-cloak>
      <div class="macroscopic-sidebar">
        <div class="sidebar-title">数据中心</div>
        <div class="sidebar-content">
          <div class="content-item">
            <div class="item-title economic-calendar">
              <a href="//www.cnfin.com/data/economic-calendar/index.html">财经日历</a>
            </div>
            <!-- <div class="item-list">
              <a href="javascript:;">中国</a>
              <a href="javascript:;">中国香港</a>
              <a href="javascript:;">中国澳门</a>
            </div> -->
          </div>
          <div class="content-item active-item">
            <div class="item-title china-macro">
              <a href="//www.cnfin.com/data/macro-data/index.html">宏观数据</a>
            </div>
            <div class="item-list">
              <a href="javascript:;" :class="[activeIndex===index?'active-subItem':'']" v-for="(item, index) in infoData" :key="index" @click="getListData(item,index)"><i></i>{{item.treeName}}</a>
              <!-- <a href="javascript:;"><i></i>中国香港</a>
            <a href="javascript:;"><i></i>中国澳门</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="macroscopic-main">
        <div class="main-title">
          <span class="title-icon" v-if="listTitleIcon!==''">
            <img :src="listTitleIcon" alt="">
          </span>
          <span class="title-text">{{listTitle}}</span>
          <span class="title-subtitle">{{listTitleEn}}</span>
        </div>
        <div class="main-list clearfix" v-if="!listLoading">
        <div class="list-item" v-for="(item, index) in infoDataList" :key="index">
          <div class="item-box" v-for="(subItem, subIndex) in item" :key="subIndex">
            <i></i>
            <a href="javascript:;" :class="[(subIndex==4)&&(index<(infoDataList.length-3))?'border-bottom':'']" v-if="infoDataList.length%3===0" @click="openDetail(subItem)">
              <span>{{subItem.name}}</span>
            </a>
            <a href="javascript:;" :class="[(subIndex==4)&&(index<(infoDataList.length-1))?'border-bottom':'']" v-if="infoDataList.length%3===1" @click="openDetail(subItem)">
              <span>{{subItem.name}}</span>
            </a>
            <a href="javascript:;" :class="[(subIndex==4)&&(index<(infoDataList.length-2))?'border-bottom':'']" v-if="infoDataList.length%3===2" @click="openDetail(subItem)">
              <span>{{subItem.name}}</span>
            </a>
          </div>
        </div>
      </div>
        <div class="main-load" v-if="listLoading">
          <a href="javascript:;">加载中</a>
        </div>
      </div>
      <div class="macroscopic-detail"  v-if="showPop">
        <div class="detail-mask">
          <div class="mask-content">
            <div class="content-main">
              <div class="main-top">
                <div class="top-content clearfix">
                  <div class="content-title">{{detailTitle}}</div>
                  <div class="content-info clearfix">
                    <div class="info-item clearfix">
                      <img :src="listTitleIcon" alt="">
                      <span>{{listTitle}}</span>
                      <!-- <span>{{listTitle}}<i></i></span> -->
                    </div>
                    <!-- <div class="info-item">
                      <p>公布值：16352.59</p>
                    </div>
                    <div class="info-item">
                      <p>预测值：16200.00</p>
                    </div> -->
                    <div class="info-item"></div>
                  </div>
                  <!--div class="content-share">
                    <span href="javascript:;" class="share-title">分享至:</span>
                    <a href="javascript:;" class="share-wechat"
                      @click="detailShare('wx')"></a>
                    <a href="javascript:;" class="share-weibo"
                      @click="detailShare('wb')"></a>
                  </div-->
                </div>
              </div>
              <div class="main-echarts" ref="macroscopicDetail"></div>
              <div class="main-list">
                <div class="list-title">
                  <div class="title-icon"></div>
                  <div class="title-text">历史数据</div>
                </div>
                <div class="list-content">
                  <table class="content-table">
                    <tr>
                      <th width="40%">公布时间</th>
                      <th width="30%">报告期 </th>
                      <th width="30%">公布值</th>
                      <!-- <th width="15%">前值</th>
                      <th width="15%">预测值</th> -->
                    </tr>
                      <tr :key="index" v-for="(item, index) in historyListData">
                        <td>{{item.publishedDate}}</td>
                        <td>--</td>
                        <td>{{item.publishedValue}}</td>
                      </tr>
                  </table>
                  <div class="content-more">
                    <a href="javascript:;" class="more-text" @click="loadMorePage">{{loadText}}</a>
                    <span class="more-icon"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-close" @click="closeDetail"></div>
          </div>
        </div>
      </div>
      <div class="jsmodern-share" v-show="showCode">
        <div class="js-close" @click="closeCodePop"></div>
        <p>扫一扫分享</p>
        <div id="qrcode" ref="qrCodeUrl"></div>
      </div>
      <!--右侧fixed S-->
      <script>
	function openServiceWin1(){
		var newWinC = window.open('','Customer','toolbar=no,menubar=no,scrollbars=no,titlebar=no,resizable=no,location=no,status=no');
        newWinC.document.write('<body scroll="no" style="margin: 0px;padding: 0px;border:0px;overflow:hidden;"><iframe style="margin: 0px;padding: 0px;border: 0px;width:100%;height:100%" src="https://aicc.cnfic.com.cn/ext/zjsUser/wdHtml?type=1&channelCode=webxhcj&appKey=6fe44285df684a7784"></iframe></body>');
	}
</script>
<div class="common_fixed"  id="shortcur_nav">
	<ul>
    <li>
      <a onclick="openServiceWin1();return false;" href="#" target="_blank" class="shortcurNav fixed_zxkf"></a>
    </li>
    <li class="fixed_erweima ui-app">
      <a class="shortcurNav shortcurNav_ewm" href="javascript:;"></a>
      <div class="ui-code-app shortcurNavAPP"><div class="shortcurNav_image"><img src="//www.cnfin.com/static/image/yidong.png" width="90" height="90"></div></div>
    </li>
    <li class="fixed_erweima ui-wx">
      <a href="javascript:;" class="shortcurNav fixed_weixin"></a>
      <div class="ui-code-wx shortcurNavAPP"><div class="shortcurNav_image"><img src="//www.cnfin.com/static/image/weixin.jpg" width="90" height="90"></div></div>
    </li>
    <li>
      <a href="https://weibo.com/u/1832487154" target="_blank" class="shortcurNav fixed_weibo"></a>
    </li>
    <li>
      <a href="https://h5.weishi.qq.com/weishi/personal/1576743812880570/wspersonal?_wv=1&id=1576743812880570&spid=1576743812880570" target="_blank" class="shortcurNav fixed_tengxun"></a>
    </li>
    <li>
      <a href="https://v.douyin.com/WHVJDB/" target="_blank" class="shortcurNav fixed_douyin"></a>
    </li>
    <li>
      <a href="https://v.kuaishou.com/s/rxEEoOkw" target="_blank" class="shortcurNav fixed_kuaishou"></a>
    </li>
    <li>
      <a href="//www.ceis.cn/list/cbjz/index.html" target="_blank" class="shortcurNav fixed_zhuanye"></a>
    </li>
    <li>
      <a href="javascript:;" target="_blank" class="shortcurNav fixed_top"  id="shortcurNav_goTopBtn"></a>
    </li>
  </ul>
</div>
<script type="text/javascript" src="//www.cnfin.com/static/js/verticalToolbar.js"></script>

      <!--右侧fixedE-->
    </div>
  </div>
  <!--footer S-->
  <div class="xhzs-bottom">
    <div class="xhzs-footer">
      <p>
        <a href="//www.ceis.cn" target="_blank">中经社官网</a>
        <a href="//www.ceis.cn/list/gsjj/index.html" target="_blank">公司介绍</a>
        <a href="//www.ceis.cn/cpfwsy/index.html" target="_blank">产品服务</a>
        <a href="//www.ceis.cn/list/contact/index.html" target="_blank">联系我们</a>
        <a href="//www.cnfin.com/ggzs/index.html" target="_blank">广告招商</a>
        <a href="//www.cnfin.com/bqsm/index.html" target="_blank">版权声明</a>
        <a href="//www.ceis.cn/list/partner/index.html" target="_blank">合作伙伴</a>
      </p>
      <div class="xhzs-footer-con">
        <div class="footer-logo" style="width:110px;">
          <img height="80" width="80" src="//www.cnfin.com/static/image/xhs-logo.png">
          <p>新华通讯社主管<br>中国经济信息社主办</p>
        </div>
        <div class="xhzs-footer-con-l">
          <h3>传媒矩阵</h3>
       <div class="xhzs-link">
          <ul>
            <!--li><a href="//www.cnfin.com/index.html" target="_blank">新华财经</a></li-->
            <li class="ui-cmjz-wx">
                <a href="javascript:;">新华财经App</a>
                <div class="cmjz-wx-code hide"><img src="//www.cnfin.com/static/image/yidong.png" width="80" height="80"></div>
            </li>
            <li class="ui-cmjz-wx">
                <a href="javascript:;">微信</a>
                <div class="cmjz-wx-code hide"><img src="//www.cnfin.com/static/image/weixin.jpg" width="80" height="80"></div>
            </li>
            <li><a href="https://weibo.com/u/1832487154" target="_blank">微博</a></li>
            <li><a href="https://h5.weishi.qq.com/weishi/personal/1576743812880570/wspersonal?_wv=1&id=1576743812880570&spid=1576743812880570" target="_blank">腾讯微视</a></li>
            <li><a href="https://v.douyin.com/WHVJDB/" target="_blank">抖音</a></li>
            <li><a href="https://v.kuaishou.com/s/rxEEoOkw" target="_blank">快手</a></li>
            <li><a href="//www.ceis.cn/list/cbjz/index.html" target="_blank">更多</a></li>
         </ul>
        </div>
        </div>
        <div class="xhzs-footer-con-r">
          <h3>友情链接</h3>
          <div class="xhzs-link">
            <a href="http://www.pbc.gov.cn/" target="_blank">中国人民银行</a>
            <a href="http://www.csrc.gov.cn/pub/newsite/" target="_blank">中国证监会</a>
            <a href="http://www.cbirc.gov.cn/cn/view/pages/index/index.html" target="_blank">中国银保监会</a>
            <a href="http://www.sse.com.cn/" target="_blank">上交所</a>
            <a href="http://www.szse.cn/" target="_blank">深交所</a>
            <!--<a href="http://www.chinaforex.com.cn/" target="_blank">中国外汇网</a>-->
            <a href="//www.imsilkroad.com/" target="_blank">新华丝路</a>
            <a href="//www.credit100.com/" target="_blank">新华信用</a>
            <a href="http://www.news.cn" target="_blank">新华网</a>
            <a href="//www.cankaoxiaoxi.com/" target="_blank">参考消息</a>
            <a href="https://www.shpgx.com/html/index.html" target="_blank">上海石油天然气交易中心</a>
            <a href="http://www.cs.com.cn/" target="_blank">中证报</a>
            <a href="https://www.cnstock.com/" target="_blank">上证报</a>
            <a href="http://jjckb.xinhuanet.com/" target="_blank">经参</a>
            <a href="http://www.banyuetan.org/" target="_blank">半月谈</a>
            <a href="http://lw.xinhuanet.com/index.htm" target="_blank">瞭望</a>
            <a href="http://www.xinhuanet.com/globe/globe.htm" target="_blank">环球</a>
            <a href="http://mrdx.xinhuanet.com/" target="_blank">每日电讯</a>
            <a href="http://www.xhtobacco.com/xinhua.do" target="_blank">新华烟草</a>
            <a href="http://www.cfbond.com/" target="_blank">中国财富网</a>
            <a href="https://www.creditchina.gov.cn/" target="_blank">信用中国网</a>
            <a href="http://www.ljzfin.com/" target="_blank">陆家嘴金融网</a>
            <!--<a href="http://www.jrj.com.cn/" target="_blank">金融界</a>-->
            <!--<a href="https://www.eastmoney.com/" target="_blank">东方财富网</a>-->
            <!--<a href="http://www.hexun.com/" target="_blank">和讯网</a>-->
            <!--<a href="http://www.jnlc.com/" target="_blank">金牛理财网</a>-->
            <!--<a href="http://www.sd.xinhuanet.com/clw" target="_blank">中国蓝网</a>-->
          </div>
        </div>
      </div>
      <div class="xhzs-supervise">
        <div class="xhzs-supervise-img">
          <img src="//www.cnfin.com/static/image/baojing.png">
          <a href="http://www.bjjubao.org.cn/" target="_blank"><img src="//www.cnfin.com/static/image/hlw.png"></a>
          <a href="https://www.12377.cn/" target="_blank"><img src="//www.cnfin.com/static/image/wxb.png"></a>
        </div>
        <div class="xhzs-supervise-info">
          <p>举报热线：400-6123115</p>
          <p>举报邮箱：xinhuacaijing@xinhua.org</p>
        </div>
      </div>
      <div class="xhzs-footerBot">
<!--
        <i></i>
        <span>京公网安备110102006349-1</span>
        <span>京ICP证120153号</span>
-->
        <span>京ICP备19048227号</span>
        <span>互联网新闻信息服务许可证编号10120170060</span>
        <span>广播电视节目制作经营许可证:(京)字第03616号</span>
      </div>
      <p class="xhzs-copy">中国金融信息网 版权所有 Copyright © 2010 - 2023 cnfin.com All Rights Reserved.  未经授权 不得转载</p>
    </div>
  </div>
  <!--footer E-->
  <script src="//www.cnfin.com/static/js//echarts.min.js?r=1663291466308"></script>
  <script src="//www.cnfin.com/static/js/shuju/flag.js?r=1663291466308"></script>
  <script src="//www.cnfin.com/static/js/shuju/hongguanshuju.js?r=1663291466308"></script>
 <script src="//www.cnfin.com/static/js/echarts/echarts.xhcj.js?r=1663291466308"></script>
 <!--底部公共js-->
  <script type="text/javascript" src="//www.cnfin.com/static/js/xhcj.statistic.min.js"></script>
<script type="text/javascript">
$('#js-search').bind('keydown', function (event) {
  var event = window.event || arguments.callee.caller.arguments[0];
  if (event.keyCode == 13){
    if($('#js-search').val() == '') {
      alert('请输入关键词，股票代码、名称、简拼!')
    } else {
      window.open('//search.cnfin.com/synthesis?q='+encodeURI($('#js-search').val()));
    }
  }
});
$(".js-search-btns").click(function() {
if($('#js-search').val() == '') {
      alert('请输入关键词，股票代码、名称、简拼!')
    } else {
      window.open('//search.cnfin.com/news?q='+encodeURI($('#js-search').val()))
    }
});
function getPvFun() {
$.ajax({
    type: "get",
    url: cnfinApiHost+'roll/statitic/totalPv',
    timeout: 15000,
    data: {
        key: $('meta[name="contentid"]').attr("content"),
        tableId: $('meta[name="tableid"]').attr("content"),
    },
    cache: false,
    // async : false,
    dataType: "json",
    success: function (res) {
// 增加接口返回错误信息判断 status状态为1时返回正常,其他状态则显示1
if(res.status == 1){
        $('.js-pv-cont span').html(res.data + 1);
} else {
        $('.js-pv-cont span').html('1');
}
    },
});
};
getPvFun();

function getExpertInfo() {
  var eName = $('meta[name="expertName"]').attr("content");

  if(eName != "" && eName != 'undefined') {
    $.ajax({
      type: "get",
      url: cnfinApiHost+'roll/query/getNewsList.htm',
      timeout: 15000,
      data: {
        tableId: 2,
        fields: 'PublishedAt,Detail,SourceUrl,TitleEN,TitleCN,ImageUrl,Summary,SourceName,PreviewImage,Tag',
        tableName: 'a_cj_portal_news',
        sourceType: '0,1,2,3,4,5',
        pageSize: 300,
        queryId: 1422,
        pageNo: 0
      },
      cache: false,
      // async : false,
      dataType: "json",
      success: function (res) {
        var data = JSON.parse(res.data);
        if(data.status == "OK") {
          var dataArr = data.results;

          for(var i = 0;i<dataArr.length;i+=1) {
            if(dataArr[i].TitleCN == eName) {
              $(".person-head").attr('src',dataArr[i].PreviewImage);
              $(".person-head").show();
              $(".person-name").html(dataArr[i].TitleCN);
              $(".person-summary").html(dataArr[i].Summary);
            };
          };
        }
      },
    });
  };
};
getExpertInfo();

// 公共底部微信鼠标进入离开事件
$(".ui-cmjz-wx").mouseenter(function() {
$(this).find(".cmjz-wx-code").removeClass("hide");
});
$(".ui-cmjz-wx").mouseleave(function() {
$(this).find(".cmjz-wx-code").addClass("hide");
});
// 公共右侧微信鼠标进入离开事件
$(".js-right-cmjz ").mouseenter(function() {
$(this).find(".right-wx-code").removeClass("hide");
});
$(".js-right-cmjz ").mouseleave(function() {
$(this).find(".right-wx-code").addClass("hide");
});
if ( $("#inner1").length > 0 ){ 
$('#inner1').nav({
t: 3000
});
}
</script>

<script type="text/javascript">
// 神策导航栏点击事件统计 senorscnl:栏目级别 
$('.sensorsNav').on('click', function() {
  var name = $(this).data('senorsname');
  var clickChl = $(this).data('senorscnl');
  if(clickChl == "1") {
    sensors.track('channelClick',{
      'channel_first': name,
      'platform':'cnfin',
    });
  } else if(clickChl == "2"){
    sensors.track('channelClick',{
      'channel_second': name,
      'platform':'cnfin',
    });
  };
});

/*
$("#login-btn").click(function(){
window.location.href = '//uc.cnfin.com/pub/login.html?url='+window.location.href;
});
*/
</script>
<script async src="//ads.imsilkroad.com/www/delivery/asyncjs.php"></script> 
  <!--底部公共js-->
</body>
</html>

